# Database Configuration
DB_USERNAME=root
DB_PASSWORD=root

# JWT Configuration
JWT_SECRET=bankease_secret_key_2024_secure_token_generation_with_jwt_minimum_512_bits_required

# Optional: Override default server port
SERVER_PORT=8081
